<div class="jumbotron center">
  <h1>Welcome to the Sample App</h1>
  <p>
    This is the homepage for the Ruby on Rails sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg", role: "button" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
