<footer class="footer" role="contentinfo">
  <small>
    <a href="http://jameslutley.com">Sample app</a> by James Lutley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://jameslutley.com/archives/">News</a></li>
    </ul>
  </nav>
</footer>
