<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div>
      <%= link_to "Sample app", root_path, id: "logo", class: "navbar-brand" %>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
